html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.instruments {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0; 
    background-color: #101010;
    text-align: center;
    flex-direction: column;
}

.instruments h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #00d296;
}

.instrument-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px;
}

.instrument-card {
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: calc(50% - 20px); 
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instrument-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.instrument-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.instrument-card h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #00d296;
}

.instrument-card p {
    font-size: 1em;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.instrument-card .btn {
    background-color: #00d296;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.instrument-card .btn:hover {
    background-color: #019067;
    color: #000000;
}

footer {
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

footer h2 {
    color: #00d296;
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

footer a {
    color: #00d296;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

footer p a {
    margin: 0 5px;
}

@media (max-width: 768px) {
    footer {
        padding: 1.5rem 0.5rem;
    }

    footer h2 {
        font-size: 1.5rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}

