
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background: #00d296;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#instrument-images{
    display: flex;
    justify-content: space-between;
}

#instrument-images img{
    width: 200px;
    height: 200px;
}

#drum, #drum img{
    width: 250px;
    flex-basis: 250px;
    min-width: 250px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #00d296;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background: #019067;
    transition: background 0.2s ease-in-out;
}


footer {
    background: #00d296;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: underline;
}
