
body, h1, h2, p {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:black;
    color: whitesmoke;
}


header {
    background: #222222;
    color: #00d296;
    padding: 1rem 0;
    text-align: center;
}
header h1{
    text-decoration:  underline;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


section {
    align-self: center;
    width: 70%;
    padding: 20px;
    margin: 20px;
    background: #3d3d3d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h2{
    text-decoration: underline;
}

#instrument-images{
    display: flex;
    justify-content: space-between;
}

#instrument-images img{
    width: 200px;
    height: 200px;
}

#drum, #drum img{
    width: 250px;
    flex-basis: 250px;
    min-width: 250px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    background-color: #222222;
    padding: 10px;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    color: white;
}

form button {
    padding: 10px;
    background: #00d296;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background: #019067;
    transition: background 0.2s ease-in-out;
}


footer {
    background: #222222;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}
.btn{
    margin-left: 19rem;
    width: 40%;
}
